@{
    var Conn = Database.Open("Dashboard");
    Layout = "~/Protected/_Site_Layout.cshtml";
    Page.Title = "Administración de trámites CNH";
    // script de seguridad
    string Nombre_pagina = Convert.ToString(Path.GetFileNameWithoutExtension(Request.Path));
    if (@Functions.SeguridadAccesoRecursos(Nombre_pagina) == false) { Response.Redirect("AdminError"); }

    //-----------------------------------------------------------------------------
    //revisar el mes actual y el año actual
    int AnnoActual = 0, MesActual = 0;
    string AnnoActuall = "", MesActuall = "", alertaMessage = "", id = "";
    AnnoActual = DateTime.Today.Year;
    MesActual = DateTime.Today.Month;


    AnnoActuall = Request.Form["anno"];
    MesActuall = Request.Form["mes"];
    if (AnnoActuall == null) { AnnoActuall = Convert.ToString(DateTime.Today.Year); }
    if (AnnoActuall == "") { AnnoActuall = Convert.ToString(DateTime.Today.Year); }



    if (MesActuall == null) { MesActuall = Convert.ToString(DateTime.Today.Month); }


    //definir el estatus inicial
    string status = "1", statuss = "";
    statuss = Request.Form["status"];
    if (Request.Form["status"] == "") { status = "1"; } else { status = Request.Form["status"]; }
    if (Request.Form["status"] == null) { status = "1"; } else { status = Request.Form["status"]; }
    string enviado = "";
    enviado = Request.Form["enviado"];
    id = Request.Form["id"];
    if (IsPost && enviado == "1")
    {
        var deleteCommand = "DELETE FROM TSolicitudTramite where id=@0";
        Conn.Execute(deleteCommand, id);
        alertaMessage = "Se ha borrado el registro.";
    }


}


<form name="forma" id="forma" method="post">
    <input type="hidden" value="1" name="enviado" />
    <div class="content-wrapper">
        <section class="content-header">
            <h1> Administración de solicitudes de trámite <small> Corte Nacional de Honor</small> </h1>

            <ol class="breadcrumb">
                <li><a href="~/Protected/default" title="Inicio"><i class="fa fa-dashboard"></i>Inicio</a></li>
                <li class="active">Admin. del trámite</li>
            </ol>

        </section>
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Menú de administración de solicitudes (En revisión / Resuelto)</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Estatus: </label>
                                    <select class="form-control" name="status" onchange="Mandar();">
                                        <option value="0" @if (Convert.ToInt16(status) == 0) { @Html.Raw("selected")   ; }>TODOS</option>
                                        @{
                                            string selectQueryString0 = "select id,descrip from CEstatusTramite order by Descrip";
                                        }
                                        @foreach (var rowD in Conn.Query(selectQueryString0))
                                        {
                                            <option value="@rowD.id" @if (rowD.id == Convert.ToInt16(status)) { @Html.Raw("selected")  ; }>@rowD.Descrip.ToUpper()</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Mes: </label>

                                    <select class="form-control" name="mes" onchange="Mandar();">
                                        <option value="0" @if (MesActuall == "0") { @Html.Raw("selected")  ; }>TODOS</option>
                                        <option value="1" @if (MesActuall == "1") { @Html.Raw("selected")  ; }>ENERO</option>
                                        <option value="2" @if (MesActuall == "2") { @Html.Raw("selected")  ; }>FEBRERO</option>
                                        <option value="3" @if (MesActuall == "3") { @Html.Raw("selected")  ; }>MARZO</option>
                                        <option value="4" @if (MesActuall == "4") { @Html.Raw("selected")  ; }>ABRIL</option>
                                        <option value="5" @if (MesActuall == "5") { @Html.Raw("selected")  ; }>MAYO</option>
                                        <option value="6" @if (MesActuall == "6") { @Html.Raw("selected")  ; }>JUNIO</option>
                                        <option value="7" @if (MesActuall == "7") { @Html.Raw("selected")  ; }>JULIO</option>
                                        <option value="8" @if (MesActuall == "8") { @Html.Raw("selected")  ; }>AGOSTO</option>
                                        <option value="9" @if (MesActuall == "9") { @Html.Raw("selected")  ; }>SEPTIEMBRE</option>
                                        <option value="10" @if (MesActuall == "10") { @Html.Raw("selected")  ; }>OCTUBRE</option>
                                        <option value="11" @if (MesActuall == "11") { @Html.Raw("selected")  ; }>NOVIEMBRE</option>
                                        <option value="12" @if (MesActuall == "12") { @Html.Raw("selected")  ; }>DICIEMBRE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Año: </label>
                                    <select class="form-control" name="anno" onchange="Mandar();">
                                        <option value="0" @if (AnnoActuall == "0") { @Html.Raw("selected")  ; }>TODOS</option>
                                        <option value="2020" @if (AnnoActuall == "2020") { @Html.Raw("selected")  ; }>2020</option>
                                        <option value="2021" @if (AnnoActuall == "2021") { @Html.Raw("selected")  ; }>2021</option>
                                        <option value="2022" @if (AnnoActuall == "2022") { @Html.Raw("selected")  ; }>2022</option>
                                        <option value="2023" @if (AnnoActuall == "2023") { @Html.Raw("selected")  ; }>2023</option>
                                        <option value="2024" @if (AnnoActuall == "2024") { @Html.Raw("selected")  ; }>2024</option>
                                        <option value="2025" @if (AnnoActuall == "2025") { @Html.Raw("selected")  ; }>2025</option>
                                        <option value="2026" @if (AnnoActuall == "2026") { @Html.Raw("selected")  ; }>2026</option>
                                        <option value="2027" @if (AnnoActuall == "2027") { @Html.Raw("selected")  ; }>2027</option>
                                        <option value="2028" @if (AnnoActuall == "2028") { @Html.Raw("selected")  ; }>2028</option>
                                        <option value="2029" @if (AnnoActuall == "2029") { @Html.Raw("selected")  ; }>2029</option>
                                        <option value="2030" @if (AnnoActuall == "2030") { @Html.Raw("selected")  ; }>2030</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4"> </div>
                    </div>
                    <div class="table-responsive">
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><center>Folio</center> </th>
                                    <th>Resúmen</th>
                                    <th>Interpone</th>
                                    <th>CUM</th>
                                    <th>Nivel</th>
                                    <th>Provincia</th>
                                    <th>Asignado</th>
                                    <th>Fecha</th>
                                    <th>Estatus</th>
                                    <th>Tipo</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    //filtrado segun lo que escoja el usuario   FILTROS
                                    string selectQueryString = "";
                                    if (Convert.ToInt16(AnnoActuall) == 0 && Convert.ToInt16(MesActuall) == 0 && Convert.ToInt16(status) == 0)
                                    {
                                        // @Html.Raw("1");
                                        selectQueryString = "select * from VSolicitudTramite  where (estatus=1 or estatus=3)  order by fecha desc";
                                    }
                                    else
                                    {
                                        if (Convert.ToInt16(AnnoActuall) == 0 && Convert.ToInt16(MesActuall) == 0)
                                        {
                                            // @Html.Raw("2");
                                            selectQueryString = "select * from VSolicitudTramite where estatus='" + status + "' order by fecha desc";
                                        }
                                        else
                                        {
                                            if (Convert.ToInt16(AnnoActuall) == 0 && Convert.ToInt16(status) == 0)
                                            {
                                                // @Html.Raw("3");
                                                selectQueryString = "select * from VSolicitudTramite where month(fecha)='" + MesActuall + "'  order by fecha desc";
                                            }
                                            else
                                            {
                                                if (Convert.ToInt16(status) == 0 && Convert.ToInt16(MesActuall) == 0)
                                                {
                                                    // @Html.Raw("4");
                                                    selectQueryString = "select * from VSolicitudTramite where year(fecha)='" + AnnoActuall + "'  order by fecha desc";
                                                }
                                                else
                                                {
                                                    if (AnnoActuall == "0")
                                                    {
                                                        //@Html.Raw("5");
                                                        selectQueryString = "select * from VSolicitudTramite where estatus='" + status + "' and month(fecha)='" + MesActuall + "' order by fecha desc";
                                                    }
                                                    else
                                                    {
                                                        if (MesActuall == "0")
                                                        {
                                                            //  @Html.Raw("6");
                                                            selectQueryString = "select * from VSolicitudTramite where estatus='" + status + "' and year(fecha)='" + AnnoActuall + "' order by fecha desc";
                                                        }
                                                        else
                                                        {
                                                            if (status == "0")
                                                            {
                                                                // @Html.Raw("7 ");
                                                                //  @Html.Raw(MesActuall);
                                                                // @Html.Raw(" ");
                                                                //  @Html.Raw(AnnoActuall);

                                                                selectQueryString = "select * from VSolicitudTramite where month(fecha)='" + MesActuall + "' and year(fecha)='" + AnnoActuall + "' and (estatus=1 or estatus=3) order by fecha desc";
                                                            }
                                                            else
                                                            {

                                                                selectQueryString = "select * from VSolicitudTramite where estatus='" + status + "'and month(fecha)='" + MesActuall + "' and year(fecha)='" + AnnoActuall + "' order by fecha desc";
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }




                                    //  @AnnoActuall;
                                    //  @MesActuall;
                                    //  @status;

                                    // @selectQueryString;
                                    // return;



                                }



                     




                                @foreach (var row in Conn.Query(selectQueryString))                                {
                                    <tr>
                                        <td><center>@row.id </center></td>
                                        <td><small>@HttpUtility.HtmlDecode(Functions.CortaCadena(row.resumen.ToUpper(), 100))</small></td>
                                        <td><small>@HttpUtility.HtmlDecode(row.Nombre.ToUpper())</small></td>
                                        <td><small>@HttpUtility.HtmlDecode(row.cum.ToUpper())</small></td>
                                        <td><small>@if (row.nivel == 1) {@Html.Raw("GRUPO");  }
                                        else
                                        {
                                            if (row.nivel == 3) {@Html.Raw("PROVINCIA");    }
                                            else {
                                                if (row.nivel == 4)     {@Html.Raw("NACIONAL");            }
                                                else     {@Html.Raw("NO DEFINIDO");      }
                                            }
                                        }
                                            </small></td>

                                        <td><small>@HttpUtility.HtmlDecode(row.Nombre_provincia)</small></td>
                                        <td>
                                            <small>

                                                @{
                                                    if (Convert.ToString(row.asignado) != null)            {

                                                        if (Convert.ToString(row.asignado) != "")                             {
                                                            var sqlTextn = "select * from VConsejeroAsignado where Id=@0";
                                                            var C0n = Conn.QuerySingle(sqlTextn, row.asignado);
                                                            if (C0n != null)       {
                                                                if (C0n.nombre_consejero != "")
                                                                { @Html.Raw(C0n.nombre_consejero.ToUpper());                   }
                                                                else
                                                                {@Html.Raw("<font color=red>AÚN NO ASIGNADO </font>");               }
                                                            }
                                                        }

                                                        else
                                                        { @Html.Raw("<font color=red>AÚN NO ASIGNADO</font>");                       }
                                                    }
                                                    else
                                                    { @Html.Raw("<font color=red>AÚN NO ASIGNADO</font>");                                        }



                                                }
                                            </small>
                                        </td>
                                        <td><small>@Functions.formatofechaCorta(row.fecha)</small></td>
                                        <td>
                                            <small>
                                            @if (row.Descrip.ToUpper().Trim() == "MANDADO")
                                            {<font color="red"> <strong> @row.Descrip.ToUpper()</strong></font> }
                                            else         {
                                                if (row.Descrip.ToUpper().Trim() == "RESUELTO")
                                                {<font color="green"> <strong> @row.Descrip.ToUpper()</strong></font> }
                                                else    {         @row.Descrip.ToUpper()             }
                                            }</small>
                                        </td>
                                        <td><small>@HttpUtility.HtmlDecode(row.descrip_tipo_caso.ToUpper()) </small></td>

                                        <td>
                                            <div class="btn-group">
                                                <small>
                                                    <button type="button" class="btn btn-block btn-default" onclick="abrirNuevo(@row.id);">Visualizar</button>
                                                </small>

                                            </div>
                                        </td>
                                    </tr>

                                }



                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>

<script>
function Abrir(i) {
    location.replace("VerSolicitud?id="+i);
}
</script>


<script type="text/javascript">
function Mandar(){
  document.forma.submit();
}
</script>

<script type="text/javascript">
    function Borrar(id) {

        form = document.createElement('form');
        form.setAttribute('method', 'POST');
        form.setAttribute('action', 'AdminSolicitudes');

        myvar = document.createElement('input');
        myvar.setAttribute('name', 'id');
        myvar.setAttribute('type', 'hidden');
        myvar.setAttribute('value', id);

        myvar1 = document.createElement('input');
        myvar1.setAttribute('name', 'enviado');
        myvar1.setAttribute('type', 'hidden');
        myvar1.setAttribute('value', 1);

        form.appendChild(myvar);
        form.appendChild(myvar1);
        document.body.appendChild(form);
        form.submit();
    }
</script>

<script type="text/javascript">
    function abrirNuevo(id) {

        form = document.createElement('form');
        form.setAttribute('method', 'POST');
        form.setAttribute('action', 'VerSolicitud2');

        myvar = document.createElement('input');
        myvar.setAttribute('name', 'id');
        myvar.setAttribute('type', 'hidden');
        myvar.setAttribute('value', id);

        myvar2 = document.createElement('input');
        myvar2.setAttribute('name', 'SoloVer');
        myvar2.setAttribute('type', 'hidden');
        myvar2.setAttribute('value', 1);

        form.appendChild(myvar);
        form.appendChild(myvar2);
        document.body.appendChild(form);
        form.submit();
    }
</script>


@{
    Conn.Close();
    Conn.Dispose();
}