@{
    var Conn = Database.Open("Dashboard");
    Layout = "~/Protected/_Site_Layout.cshtml";
    Page.Title = "Ver solicitud";
    // script de seguridad
    string Nombre_pagina = Convert.ToString(Path.GetFileNameWithoutExtension(Request.Path));
    if (@Functions.SeguridadAccesoRecursos(Nombre_pagina) == false) { Response.Redirect("AdminError"); }

    // conexion a la bd
    string idPersona = "";
    idPersona = Request["id"];
    string nombre = "", cum = "", textoSolicitud = "", rutaArchivo1 = "", rutaArchivo2 = "", rutaArchivo3 = "", resumen = "", nombreProv = "", descripEstatus = "", email = "", notasCargadas = "";
    string descrip_tipo_caso = "", asignado = "";
    int idEstatusCargado = 0;
    DateTime fechaSolicitud = new DateTime();
    string NotasLoaded = "", estatus = "", mandado = "", nivel="";
    mandado = Request.Form["mandado"];

    string rutaArch = "";
    string numacuerdo = "";




    //---------------------------------------------------------
    //poner aqui quien leyo
    int id_usuario_actual = 0;
    DateTime localDate = DateTime.Now;
    id_usuario_actual = WebSecurity.CurrentUserId;


    var sqlText1 = "select id_TSolicitudTramite from TSolicitudes_Tramite_Leidas where id_TSolicitudTramite=@0 and id_UserProfile=@1";
    var C1 = Conn.QuerySingle(sqlText1, idPersona, id_usuario_actual);
    if (C1 == null)    {

        // el super administrador no puede ingresarse aqui, solo los demas
        if (id_usuario_actual != 1)        {
            var insertCommand = "INSERT INTO TSolicitudes_Tramite_Leidas(id_TSolicitudTramite,id_UserProfile,fecha_leido) Values(@0,@1,@2)";
            Conn.Execute(insertCommand, idPersona, id_usuario_actual, localDate);
        }
    }





    //------------CARGADO-------------------------------

    var sqlText = "SELECT nombre,cum,TextoSolicitud,resumen,Nombre_provincia,Descrip,RutaArchivo1,RutaArchivo2,fecha,estatus,email,NotasCaso,RutaArchivo3,descrip_tipo_caso,asignado,nivel,id FROM VSolicitudTramite where id=@0 ";
    var C0 = Conn.QuerySingle(sqlText, idPersona);
    if (C0 != null) {
        nombre = C0.nombre;
        cum = C0.cum;
        textoSolicitud = C0.TextoSolicitud.ToUpper();
        resumen = C0.resumen.ToUpper();
        nombreProv = C0.Nombre_provincia;
        descripEstatus = C0.Descrip.ToUpper();
        rutaArchivo1 = C0.RutaArchivo1;
        rutaArchivo2 = C0.RutaArchivo2;
        rutaArchivo3 = C0.RutaArchivo3;
        fechaSolicitud = C0.fecha;
        idEstatusCargado = C0.estatus;
        email = C0.email;
        notasCargadas = C0.NotasCaso;
        descrip_tipo_caso = C0.descrip_tipo_caso.ToUpper();
        asignado = Convert.ToString(C0.asignado);
        nivel = Convert.ToString(C0.nivel);

    }



    //cargar datos de los acuerdos
    var sqlText2 = "SELECT * FROM TAcuerdosCNH where IdCasoAsignado=@0 ";
    var C2 = Conn.QuerySingle(sqlText2, idPersona);
    if (C2 != null)
    {
        rutaArch = C2.RutaArchivo;
        numacuerdo = C2.numacuerdo;
    }

    //-----------EDIT--------------------------------
    if (IsPost & mandado == "1")    {
        NotasLoaded = Request.Form["notas"];
        estatus = Request.Form["estatus"];
        idPersona = Request.Form["id"];
        if (idPersona != null)        {

            if (estatus != "")            {
                var updateCommand = "UPDATE TSolicitudTramite SET estatus=@0,NotasCaso=@1 where id=@2";
                Conn.Execute(updateCommand, estatus, NotasLoaded, idPersona);
                Response.Redirect("MenuSolicitudes?Ex=1");
            }
        }
    }


    if (rutaArchivo1!=null) { rutaArchivo1 = rutaArchivo1.Trim(); }
    if (rutaArchivo2 != null) { rutaArchivo2 = rutaArchivo2.Trim(); }
    if (rutaArchivo3 != null) { rutaArchivo3 = rutaArchivo3.Trim(); }




    string formita = "", mensaje = "" , MandarComentarios="", MsgErr="";

    formita = Request.Form["formita"];
    mensaje = Request.Form["mensaje"];
    MandarComentarios = Request.Form["MandarComentarios"];




    //--------------------esta es la seccion de ingresos del chat entre la corte-------------------------------------
    string BorrarComentario = Request.Form["BorrarComentario"];
    string IdABorrar = Request.Form["IdABorrar"];
    if (BorrarComentario == "1" && IsPost && IdABorrar != "")
    {
        var deleteCommand0 = "DELETE FROM TComentariosCorte WHERE id= @0";
        Conn.Execute(deleteCommand0, IdABorrar);
        Response.Redirect("verSolicitud2?id=" + idPersona);
    }

    //----------------------------------------------------------------------------------------------------------------
    if (IsPost && formita == "1")    {
        if (mensaje != "")        {

            // ya que los miembros de la corte se menten en la tabla tconsejeros y es separado de la tabla de las cuentas user profile
            //se ligan por medio del cum

            // con el cum en la tabla de userprofile se debe buscar el id del miembro de la corte en la tconsejeros
            string IdDeTConsejeros = "", cumact = "";
            var ver1 = "select userid,cum from [dbo].[VDatosCompletosUsuario] where userid=@0";
            var Cum1 = Conn.QuerySingle(ver1, WebSecurity.CurrentUserId);
            if (Cum1 != null)            {
                cumact = Cum1.cum.Trim();

                // seleccionar el cum de la tabla de consejeros
                var ver2n = "select id from TConsejeros where cum='" + cumact + "'";
                var con1 = Conn.QuerySingle(ver2n, cumact);
                if (con1 != null) { IdDeTConsejeros = Convert.ToString(con1.id); }
                else { IdDeTConsejeros = "0"; }
                if (IdDeTConsejeros != "0")
                {
                    //revisar si no esta dado de alta para no meter duplicado
                    // var sqlText1y = "select * from TComentariosCorte where comentarios=@0 and Id_TSolicitudTramite=@1 and Id_TConsejeros=@2 and Fecha=@3";
                    var sqlText1y = "select * from [dbo].[TComentariosCorte] where [Comentarios]='@0'and [Id_TSolicitudTramite]=@1 and [Id_TConsejeros]=@2";
                    var Cy1 = Conn.QuerySingle(sqlText1y, mensaje.Trim(), idPersona, IdDeTConsejeros);
                    if (Cy1 == null)
                    {
                        //ingresar los mensajes de chat en la ocmunicacion interna de la corte
                        var insertCommand = "INSERT TComentariosCorte(Id_TSolicitudTramite,Id_TConsejeros,Comentarios,Fecha) Values(@0,@1,@2,@3)";
                        Conn.Execute(insertCommand, idPersona, IdDeTConsejeros, mensaje, localDate);
                        mensaje = null;
                        MandarComentarios = "0";
                        Response.Redirect("verSolicitud2?id=" + idPersona);
                    }
                }
                else
                {
                    MsgErr = "NO SE PUEDE INGRESAR EL COMENTARIO, DEBE DE DAR DE ALTA EL CUM DE ESTA CUENTA EN LA LISTA DE LOS MIEMBROS DEL CONSEJO EN LA SECCIÓN: SERVICIOS/MIEMBROS DE LA CORTE";
                }

            }

        }
    }








}


<div class="content-wrapper">
    <section class="content-header">
        <h1> Ver Solicitud <small> Corte Nacional de Honor.</small> </h1>
        <ol class="breadcrumb">

            <li><a href="~/Protected/default" title="Inicio"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li><a href="~/Protected/cnh/MenuSolicitudes" title="Administración de solicitudes">Menú de solicitudes</a></li>
            <li class="active">Ver solicitud</li>

        </ol>
        <ol class="breadcrumb"> <li> </ol>
    </section>

    <form name="forma" id="forma" method="post" class="form-horizontal">
        <input type="hidden" name="id" value="@idPersona" />
        <input type="hidden" name="mandado" value="1" />

        <section class="content">
            <div class="box ">
                <div class="box-header with-border"> <h3 class="box-title">Solicitud de revisión ante la CNH a nivel: <strong>


    @if (nivel == "1")
    {@Html.Raw("GRUPO");
    }
    else
    {
        if (nivel == "3")
        {@Html.Raw("PROVINCIA");
        }
        else
        {
            if (nivel == "4")
            {@Html.Raw("NACIONAL");
            }
            else
            {@Html.Raw("NO DEFINIDO");
            }
        }
    }
</strong></h3>  </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputEmail3" class="col-sm-2 control-label">FOLIO:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="id" value="@idPersona" placeholder="ID" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputEmail3" class="col-sm-2 control-label">CUM:</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cum" placeholder="CUM" value="@cum.ToUpper()" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="col-sm-2 control-label">INTERPONE:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" value="@nombre.ToUpper()" readonly>
                                </div>
                            </div>
                        </div>

                        @if (email != null)
                        {
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inputPassword3" class="col-sm-2 control-label">EMAIL:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="mailto:@email" title="Email" target="_blank">@email </a>
                                    </div>
                                </div>
                            </div>


                        }

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="col-sm-4 control-label">ACUERDO:</label>
                                </div>
                                <div class="col-sm-9">
                                    <a href="~/Protected/AcuerdosArch/@rutaArch" title="Email" target="_blank"> @numacuerdo</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                   
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group align-left">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="col-sm-2 control-label">PROVINCIA:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="provincia" name="provincia" readonly placeholder="Provincia" value="@nombreProv">
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group align-left">
                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="col-sm-1 control-label">FECHA:</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="datetime" class="form-control" id="inputFecha" placeholder="Fecha" value="@Functions.formatofecha(fechaSolicitud)" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group align-left">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="col-sm-1 control-label">ESTATUS:</label>
                                </div>
                                <div class="col-sm-9">

                                    @{  string selectQueryStringg = "SELECT id,Descrip from CEstatusTramite";  }
                                    <select id="estatus" name="estatus" disabled required class="form-control  select"  >
                                        @foreach (var row in Conn.Query(selectQueryStringg))
                                        {
                                            <option value="@row.Id" @if (idEstatusCargado == row.Id) { @Html.Raw("selected") ; }>@row.descrip.ToUpper()</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
        


                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group align-left">
                                <div class="col-sm-3">
                                    <label>ASIGNADO A:</label>
                                </div>
                                <div class="col-sm-9">
                                    @{ string msg = "";
                                        if (asignado != null)       {

                                            if (asignado != "")   {
                                                var sqlTextn = "select * from VConsejeroAsignado where Id=@0";
                                                var C0n = Conn.QuerySingle(sqlTextn, asignado);
                                                if (C0n != null)   {
                                                    if (C0n.nombre_consejero != "")   { msg=C0n.nombre_consejero.ToUpper();   }
                                                    else   { msg="AÚN NO ASIGNADO";    }
                                                }
                                            }

                                            else { msg="AÚN NO ASIGNADO";       }
                                        }
                                        else { msg="AÚN NO ASIGNADO";   }
                                    }
                                    <input type="text" class="form-control" placeholder="Asignado a" value="@msg" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group align-left">
                                <div class="col-sm-3">
                                    <label >TIPO DE CASO:</label>
                                </div>
                                <div class="col-sm-9">

                                    <input type="text" class="form-control"  placeholder="Tipo de caso" value="@descrip_tipo_caso.ToUpper()" readonly>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />


                    <div class="row">
                        <div class="col-lg-12 align-left">
                            <div class="form-group">
                                <div class="col-sm-1">
                                    <label for="inputEmail3" class="col-sm-2 control-label">RESUMEN:</label>
                                </div>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" id="resumen" name="resumen" placeholder="Resumen" value="@resumen.ToUpper()" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 align-left">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>DESCRIPCIÓN DEL CASO:</label>
                                    <textarea class="form-control" readonly rows="8" placeholder="Descripción del caso">@HttpUtility.HtmlDecode(textoSolicitud).ToUpper()</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 align-left">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>NOTAS DEL CASO:</label>
                                    <textarea class="form-control" name="notas" readonly maxlength="4000" id="notas" rows="8">@HttpUtility.HtmlDecode(notasCargadas)</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        @if (rutaArchivo1 != "")
                        {
                            if (rutaArchivo1 != null)
                            {
                                <div class="col-sm-4">
                                    <center><strong> <a href="~/WebCNH/Arch_Subidos/@rutaArchivo1" target="_blank"> DESCARGAR ADJUNTO </a> </strong></center>
                                </div>
                            }
                        }
                        @if (rutaArchivo2 != "")
                        {

                            if (rutaArchivo2 != null)
                            {
                                <div class="col-sm-4">
                                    <center><strong><a href="~/WebCNH/Arch_Subidos/@rutaArchivo2" target="_blank"> DESCARGAR ADJUNTO </a></strong></center>
                                </div>
                            }
                        }
                        @if (rutaArchivo3 != "")
                        {
                            if (rutaArchivo3 != null)
                            {
                                <div class="col-sm-4">
                                    <center><strong><a href="~/WebCNH/Arch_Subidos/@rutaArchivo3" target="_blank"> DESCARGAR ADJUNTO </a></strong></center>
                                </div>
                            }
                        }
                    </div>


                    <div class="row"><br /><br />
                        <div class="col-sm-12">
                            <strong>ARCHIVOS COMPLEMENTARIOS PARTE DEL EXPEDIENTE: </strong>
                            <div class="well">
                                @{
                                    //@Html.Raw(ruta);// remove this after servermathpath works
                                    // return;// remove this after servermathpath works
                                    int contador = 0;
                                    string ruta = Server.MapPath("/protected/repositorioarchivos/" + idPersona + "/");

                                    if (Directory.Exists(ruta))     {
                                        string[] filePaths = Directory.GetFiles(ruta);
                                        for (int i = 0; i < filePaths.Length; ++i) {
                                            contador = contador + 1;
                                            string path = filePaths[i];
                                            @Html.Raw("<small><a href='/protected/repositorioarchivos/" + idPersona + "/" + System.IO.Path.GetFileName(path) + "' target='_blank'>" + System.IO.Path.GetFileName(path) + "</a></small>");
                                            @Html.Raw("</BR>");
                                        }
                                    }
                                    else  {@Html.Raw("No existen archivos complementarios.");  }
                                }
                            </div>
                        </div>
                    </div>





                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-11"><button type="button" class="btn btn-default pull-right" onclick="Cancelar();">REGRESAR</button></div>
                        <div class="col-sm-0"></div>
                        <div class="col-sm-1"><!--<button type="submit" class="btn btn-default pull-right">ACEPTAR</button>--></div>
                    </div>
                </div>
            </div>
        </section>
    </form>





    <section class="content">

        @if (MsgErr != "")        {
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                @MsgErr
            </div>
        }

        <form method="post" id="formita" name="formita">

            <input type="hidden" name="formita" value="1" />
            <input type="hidden" name="id" value="@idPersona" />
            <input type="hidden" name="status" value="@estatus" />

            <div class="row">
                <div class="col-lg-12 align-left">
                    <div class="form-group">
                        <div class="col-sm-12">

                            <div class="box direct-chat direct-chat-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Comunicación entre los miembros de la Corte Nacional de Honor</h3>
                                    <div class="box-tools pull-right">  <button type="button" class="btn btn-box-tool" data-widget="collapse">   <i class="fa fa-minus"></i>  </button>    </div>
                                </div>

                                <div class="box-body">
                                    <div class="direct-chat-messages">
                                        @{
                                            string selectQueryString = "SELECT * from VComentariosCorte where Id_TSolicitudTramite=@0 order by fecha";
                                            int contadoru = 1;
                                            string fotoo = "", IDUserProfile = "";
                                        }

                                        @foreach (var row in Conn.Query(selectQueryString, idPersona))       {

                                            // buscar con el id de la persona su cum
                                            var vx = "select id,cum from TConsejeros where id=@0";
                                            var con1x = Conn.QuerySingle(vx, row.idTConsejeros);
                                            if (con1x != null)
                                            {
                                                //obtener la foto en la Tabla userprofile
                                                var ver1x = "select * from VUsuarioDatosRoles where cum='" + con1x.cum + "'";
                                                var Cum1 = Conn.QuerySingle(ver1x);
                                                if (Cum1 != null) { fotoo = Cum1.foto; IDUserProfile = Convert.ToString(Cum1.UserId); }
                                            }



                                            if (contadoru % 2 != 0)
                                            {
                                                <div class="direct-chat-msg">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-left">@row.nombre_consejero    </span>
                                                        <span class="direct-chat-timestamp pull-right">@Functions.formatofecha(row.fecha)</span>
                                                    </div>

                                                    @if (fotoo == null)
                                                    {   <img class="direct-chat-img" src="~/WebCNH/img/flor_lis.png" alt="@row.nombre_consejero">      }
                                                    else
                                                    {       <img class="direct-chat-img" src="~/WebCNH/img/@fotoo" alt="@row.nombre_consejero"> }

                                                    <div class="direct-chat-text"> @row.comentarios             </div>
                                                    @if (Convert.ToString(WebSecurity.CurrentUserId) == IDUserProfile && idEstatusCargado != 3)
                                                    { //solo lo borra quien lo puso
                                                        <div class="pull-right"><small> <a href="#" onclick="BorrarComentario('@row.id','@idPersona','@estatus')" alt="Borrar comentario">Borrar </a> </small></div>
                                                    }

                                                </div>
                                                contadoru++;
                                            }
                                            else
                                            { <!--par derecho -->
                                                <div class="direct-chat-msg right">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-right">@row.nombre_consejero</span>
                                                        <span class="direct-chat-timestamp pull-left">@Functions.formatofecha(row.fecha)</span>
                                                    </div>
                                                    @if (fotoo == null)
                                                    {   <img class="direct-chat-img" src="~/WebCNH/img/flor_lis.png" alt="@row.nombre_consejero">      }
                                                    else
                                                    {       <img class="direct-chat-img" src="~/WebCNH/img/@fotoo" alt="@row.nombre_consejero"> }

                                                    <div class="direct-chat-text"> @row.comentarios  </div>
                                                    @if (Convert.ToString(WebSecurity.CurrentUserId) == IDUserProfile && idEstatusCargado != 3)
                                                    { //solo lo borra quien lo puso
                                                        <div class="align-left"><small> <a href="#" onclick="BorrarComentario('@row.id','@idPersona','@estatus')" alt="Borrar comentario">Borrar </a></small></div>
                                                    }
                                                </div>
                                                contadoru++;
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="box-footer">

                                    @if (idEstatusCargado == 1 && (asignado != null))
                                    {
                                        // los comentarios solo se pueden poner cuando este en revision el caso =1 y asignado a un miembro de la corte
                                        <div class="input-group">
                                            <input type="text" name="mensaje" placeholder="Escriba su mensaje ..." maxlength="300"  class="form-control">
                                            <span class="input-group-btn">    <button type="button" onclick="javascript:enviarComentarios();" class="btn btn-primary btn-flat">Enviar </button>       </span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group">Solo podrá escribir comentarios cuando el caso este con estatus EN REVISIÓN y se encuentre asignado a un miembro de la corte.</div>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </form>

    </section>



</div>

@{
    Conn.Close();
    Conn.Dispose();
}

<script>
function Cancelar() {
    location.replace("MenuSolicitudes");
}
</script>

<script type="text/javascript">
    function enviarComentarios() {
     document.formita.submit();
 }
</script>


<script type="text/javascript">
    function BorrarComentario(id,folioTramite, status) {
    //    if (!confirm('¿Desea eliminar de manera permanente el comentario?')) {
            form = document.createElement('form');
            form.setAttribute('method', 'POST');
            form.setAttribute('action', 'VerSolicitud2');
            myvar = document.createElement('input');
            myvar.setAttribute('name', 'IdABorrar');
            myvar.setAttribute('type', 'hidden');
            myvar.setAttribute('value', id);
            myvar1 = document.createElement('input');
            myvar1.setAttribute('name', 'BorrarComentario');
            myvar1.setAttribute('type', 'hidden');
            myvar1.setAttribute('value', 1);
            myvar2 = document.createElement('input');
            myvar2.setAttribute('name', 'id');
            myvar2.setAttribute('type', 'hidden');
            myvar2.setAttribute('value', folioTramite);
            myvar3 = document.createElement('input');
            myvar3.setAttribute('name', 'status');
            myvar3.setAttribute('type', 'hidden');
            myvar3.setAttribute('value', status);
            form.appendChild(myvar);
            form.appendChild(myvar1);
            form.appendChild(myvar2);
            form.appendChild(myvar3);
            document.body.appendChild(form);
            form.submit();
        }
   // }
</script>